@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --Topbar-width:3rem;
}

:root{
    --navbar-width:3rem;
  }
.router-link-active > svg{
    @apply fill-orange-400;
}
  

@font-face {
    font-family: CustomFont;
    src: url(/NerkoOne-Regular.ttf);
}






@media (min-width: 1024px) {
    .TheNavbar {
      width: var(--navbar-width);
    }
    .width_content {
      width: calc(100% - var(--navbar-width));
    }
  }

input,textarea{
    border-radius: 0.25rem;
    @apply  border active:border-blue-400 focus:outline-none focus:border-sky-100 focus:ring-sky-500 focus:ring-1 sm:text-sm
    
}

.bg-Orange , .highlight{
    @apply bg-orange-400
}

.bg-darkBlue , .navbar{
    background-color: #041955;
}
.border-darkBlue {
    border-color: #041955;
}
.text-darkBlue {
    color: hwb(36deg 46% 0%);
}
.background-lightBlue {
    background-color: #041a55a1;
}
.sticky-task{
background-color: #0E2D86;
}



.h-screen-half{
  width: 50vh;
}


.bg-LightBlue , .Content-bg{
    /* background-color: #3450A1; */
    @apply bg-blue-700
}




::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #3450A1;
}

::-webkit-scrollbar-thumb {
    @apply bg-blue-600 ;
}

::-webkit-scrollbar-thumb:hover {
    /* background: #041955; */
    @apply bg-blue-200 ;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }
  input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.form-control + .form-control {
  margin-top: 1em;
}
input[type="checkbox"] {
    /* ...existing styles */
  
    display: grid;
    place-content: center;
  }
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  input[type="checkbox"]::before {
    /* ...existing styles */
  
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  input[type="checkbox"]::before {
    /* ...existing styles */
  
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  :root {
    --form-control-disabled: #959495;
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }